* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-logo{
    width: 100px;
    height: auto;
    border-radius: 25px;
    margin-right: 50px;
}
.carosal-img{
    height: 850px;
}
#about {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url('/Images/background/cta-bg.jpg') fixed center center;
    background-size: cover;
    padding: 120px 0;
}
#services {
    background: #F2F8F3;
    padding: 60px 0;
}
.service-img{
    width: 130px;
    height: 130px;
    margin-left: 35px;
    transition: 0.3s;
}
.services .icon-box:hover {
    transition: ease-in-out 0.3s;
    transform: translateY(10px);
}

.services .icon-box:hover h4 a {
    color: #ffb900;
    transition: ease-in-out 0.3s;
}
#skills {
    background: #F2F8F3;
    padding-bottom: 50px;
    padding-top: 50px;
}
#skills .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}
.progress-bar {
    background-color: #ff9400;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 20px;
    position: relative;
    overflow: hidden;
}
#cta {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url('/Images/background/cta-bg.jpg') fixed center center;
    background-size: cover;
    padding: 120px 0;
}
#team{
    background: #F2F8F3;
    padding-bottom: 50px;
    padding-top: 50px;
}
#contact {
    padding: 50px 0;
    background: #F2F8F3;
}
.footer-heading{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffca2c;
}















h2{
    text-align:center;
    padding: 20px;
}
/* Slider */

